# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual env
.venv/
venv/
env/

# Model checkpoints / large artifacts
transformer/checkpoints/
*.pt
*.pth
*.ckpt



# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

#
CNN/